---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Frosty Flavors">
	<main>
		<h1></h1>
	</main>
</Layout>


<style>
	main {
		/* height: 200vh; */
	}
	h1 {
		font-size: 3rem;
		color: blue;
	}
	img {
		width: 100%;
	}
</style>
