---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---



<Layout title="Frosty Flavors - Menu">
    <h1>Menu</h1>  
</Layout>

<style>
	h1 {
		font-size: 2rem;
		color: red;
	}
</style>