---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Frosty Flavors - Menu">
    <div class="title-wrapper">
		<h1 class="title heading-text">Our Flavors</h1>
	</div>
	<main>
		<div class="menu-items-gallery">
			<Card img="/images/product/cones/cone1.png" title="Pineapple" price="$2.50" description="with cherries"/>
			<Card img="/images/product/cones/cone2.png" title="Mango" price="$2.50" description="Party in your mouth"/>
			<Card img="/images/product/cones/cone3.png" title="Strawberry Cheesecake" price="$2.50" description="Cheesecake in a cup"/>
			<Card img="/images/product/cones/cone4.png" title="Happy Birthday" price="$2.50" description="Happy Birthday Cake"/>
			<Card img="/images/product/cones/cone5.png" title="Blue Ocean" price="$2.50" description="A breeze of joy"/>
			<Card img="/images/product/cones/cone6.png" title="Raspberry" price="$2.50" description="with real fruit"/>
			<Card img="/images/product/cones/cone7.png" title="Peach" price="$2.50" description="A southern comfort"/>
			<Card img="/images/product/cones/cone8.png" title="Cherry" price="$2.50" description="Bold fruity flavor"/>
		</div>
	</main>
</Layout>

<style>
	main {
		display: grid;
		place-items: center;
		margin-bottom: 5rem;
	}
	.title-wrapper {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 8rem;
	}
	.title {
		font-style: italic;
		font-weight: bolder;
		text-decoration: underline;
		text-decoration-color: var(--window);
		-moz-text-decoration-color: var(--window);
		background: linear-gradient(60deg, var(--clr01), var(--clr02), var(--clr03), var(--clr04), var(--clr05), var(--clr06));
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
		text-shadow: var(--window) 0px 0px 10px;
	}
	.menu-items-gallery {
		position: relative;
		display: flex;
		max-width: 1400px;
		justify-content: space-around;
		flex-wrap: wrap;
	}
</style>