---

---

<footer>
    <ul>
        <li><a href="/">Homepage</a></li>
        <li><a href="/menu">View Menu</a></li>
        <li><a href="/cart">Your Order</a></li>
    </ul>
    <ul>
        <li><a href="/contact">Contact Us</a></li>
        <li><a href="/locations">Locations</a></li>
        <li><a href="/about">About Us</a></li>
    </ul>
</footer>

<style>
    footer {
        background-color: var(--window);
        margin-top: auto;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding: 15px 0px;
        
    }
    li {
        list-style: none;
        text-align: center;
        margin: 0px 30px;
    }
    a {
        /* color: var(--clr03); */
        color: white;
        font-size: 1.2rem;
    }
    a:hover {
        color: var(--clr02);
    }
</style>