---

---

<footer>
    <ul>
        <li><a href="/">Homepage</a></li>
        <li><a href="/menu">View Menu</a></li>
        <li><a href="/cart">Your Order</a></li>
    </ul>
    <ul>
        <li><a href="/contact">Contact Us</a></li>
        <li><a href="/locations">Locations</a></li>
        <li><a href="/about">About Us</a></li>
    </ul>
</footer>

<style>
    footer {
        background-color: var(--window);
        position: absolute;
        bottom: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding: 20px 0;
    }
    a {
        color: var(--clr03);
    }
</style>