---

---

<footer>
    <ul>
        <li><a href="/">Homepage</a></li>
        <li><a href="/menu">Menu</a></li>
        <li><a href="/cart">Cart</a></li>
    </ul>
    <ul>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/locations">Locations</a></li>
        <li><a href="/about">About</a></li>
    </ul>
</footer>

<style>
    footer {
        background-color: var(--window);
        margin-top: auto;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding: 15px 0px;
        
    }
    li {
        list-style: none;
        text-align: center;
        margin: 0px 30px;
    }
    a {
        background: linear-gradient(60deg, var(--clr01), var(--clr02), var(--clr03), var(--clr04), var(--clr05), var(--clr06));
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
		text-shadow: var(--window2) 0px 0px 10px;
        font-size: 1.2rem;
        font-weight: bold;
    }
    a:hover {
        color: var(--clr02);
    }
</style>