---
import MobileHamburgerNav from "./MobileHamburgerNav/MobileHamburgerNav";
---

<header>
	<a href="/" class="title"><div>Frosty Flavors</div></a>
	<nav class="navbar">
		<ul>
			<li><a href="/"><img class="nav-icons" src="/images/icons/home.png" /></a></li>
			<li><a href="/menu"><img class="nav-icons" src="/images/icons/menu.png" /></a></li>
			<li><a href="/cart"><img class="nav-icons" src="/images/icons/cart.png" /></a></li>
			<li><a href="/contact"><img class="nav-icons" src="/images/icons/phone.png" /></a></li>
		</ul>
	</nav>
	<MobileHamburgerNav client:load />
</header>

<style>
	header {
		background-color: var(--window);
		padding: 1rem;
		height: 150px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.navbar {
		display: none;
	}
	nav ul {
		display: flex;
	}
	.nav-icons {
		height: 35px;
		width: 35px;
		
		margin: 0 1rem;
	}
	.nav-icons:hover {
		transform: scale(1.2);
	}
	.title {
        font-family: 'Rubik Dirt', cursive;
		text-align: center;
		font-size: 2.25rem;
		font-style: italic;
        background: linear-gradient(60deg, var(--clr01), var(--clr02), var(--clr03), var(--clr04), var(--clr05), var(--clr06));
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
		/* text-shadow: var(--window) 0px 0px 10px; */
		margin: 0 auto;
		cursor: pointer;
		transition: var(--animate);
	}
	.title:hover {
		transform: scale(1.05);
	}
	/* Media Queries */
	@media only screen and (min-width: 425px) {
		.title {
			font-size: 2.5rem;
		}
	}
	@media only screen and (min-width: 500px) {
		.title {
			font-size: 3rem;
		}
	}
	@media only screen and (min-width: 769px) {
		.title {
			font-size: 3.5rem;
		}
		.navbar {
			display: flex;
		}
	}
	@media only screen and (min-width: 1024px) {
		.title {
			font-size: 4rem;
		}
	}
	@media only screen and (min-width: 1200px) {
		.title {
			font-size: 5rem;
		}
	}
</style>
