---
import MobileHamburgerNav from "./MobileHamburgerNav/MobileHamburgerNav";
---

<header>
	<a href="/">
		<div class="logo-parent">
			<img src="/images/snowcones.avif" class="logo" />
		</div>
	</a>

	<label class="title">Frosty Flavors</label>

	<nav class="navbar">
		<ul>
			<li><a href="/"><img class="nav-icons" src="/images/icons/home.png" /></a></li>
			<li><a href="/menu"><img class="nav-icons" src="/images/icons/menu.png" /></a></li>
			<li><a href="/cart"><img class="nav-icons" src="/images/icons/cart.png" /></a></li>
			<li><a href="/contact"><img class="nav-icons" src="/images/icons/phone.png" /></a></li>
		</ul>
	</nav>
	<MobileHamburgerNav client:load />
</header>

<script></script>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap');
	header {
		background-color: var(--window);
		padding: 1rem;
		height: 150px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.logo-parent {
		position: relative;
		overflow: hidden;
		cursor: pointer;
		border-radius: 50%;
		height: 75px;
		width: 75px;
		transition: var(--animate);
	}
	.logo {
		width: 100%;
		height: 100%;
		transition: var(--animate);
	}
	.logo-parent:hover {
		box-shadow: var(--shadow);
	}
	.logo-parent:hover .logo {
		transform: scale(1.2);
	}
	.navbar {
		display: none;
	}
	nav ul {
		display: flex;
	}
	.nav-icons {
		height: 35px;
		width: 35px;
		transition: var(--animate);
		margin: 0 1rem;
	}
	.nav-icons:hover {
		transform: scale(1.2);
	}
	.title {
        font-family: 'Rubik Dirt', cursive;
		text-align: center;
		font-size: 1.5rem;
		font-style: italic;
        background-image: linear-gradient(60deg, var(--clr01), var(--clr02), var(--clr03), var(--clr04), var(--clr05), var(--clr06));
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
		margin: 0 auto;
	}
	/* Media Queries */
	@media only screen and (min-width: 425px) {
		.title {
			font-size: 2rem;
		}
	}
	@media only screen and (min-width: 500px) {
		.title {
			font-size: 3rem;
		}
        .logo-parent {
            height: 125px;
            width: 125px;
	    }
	}
	@media only screen and (min-width: 769px) {
		.title {
			font-size: 3.5rem;
		}
		.navbar {
			display: flex;
		}
	}
	@media only screen and (min-width: 800px) {
		.title {
			font-size: 3rem;
		}
	}
    @media only screen and (min-width: 880px) {
		.title {
			font-size: 3.25rem;
		}
	}
	@media only screen and (min-width: 1024px) {
		.title {
			font-size: 4rem;
		}
	}
	@media only screen and (min-width: 1200px) {
		.title {
			font-size: 5rem;
		}
	}
</style>
